@import '../fonts.scss';

.mobileNavShow {
  display: none;
}

.navDrapdownWrapper {
  position: relative;
  width: auto;
  background-color: #fff;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  z-index: 1;
  top: 36px;
  display: flex;
  height: auto;
  right: 0;
  border-radius: 8px;

  .dropdown-column-section {
    font-family: 'IBM Plex Sans' !important;

    .flex-center {
      display: flex;
      align-items: center;

      img {
        margin-right: 18px;
        min-width: 24px;
        width: 24px;
      }
    }

    .product-h4 {
      margin-bottom: 14px !important;
    }

    h4 {
      font-size: 12px;
      line-height: 1.5;
      font-weight: 500 !important;
      color: #616d75 !important;
      margin-bottom: 22px;
      padding-left: 10px;
    }

    h2 {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 500 !important;
      color: #1b2738 !important;
    }

    p {
      font-size: 14px;
      line-height: 1.8;
      font-weight: 400;
      color: #616d75 !important;
      margin-bottom: 0;
    }
  }

  .navList {
    display: flex;
    align-items: center;

    h2 {
      margin: 0;
    }

    .link_img {
      min-width: 12px;
      width: 12px;
      height: 12px;
      margin-left: 8px;
    }

    .navListImg {
      margin-right: 10px;

      img {
        min-width: 22px;
        width: 22px;
        margin-right: 0;
        margin-bottom: -8px;
      }
    }

    .hasura-ibm-plex-nav {
      text-transform: uppercase;
      color: #404955;
    }
    .hasura-ibm-plex-mono-small {
      color: #74818a;
      text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    }
  }

  // Resources Dropdown ******** //

  .developers-section {
    width: 277px;
    padding: 10px;
    border-right: 1px solid #dee6ec;

    h4 {
      padding-top: 22px;
      padding-left: 22px;
    }

    .dropdown-hover-effect-div {
      width: 100%;
      padding: 8px 22px !important;
      margin-bottom: 11px !important;
    }

    @media (max-width: 1024px) {
      border-right: none;
    }
  }

  // Product Section ************** //

  .dropdown-hover-effect-div {
    padding: 15px 28px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 4px;
    width: 100%;

    &:hover {
      background: #f4faff;
    }
  }

  .product-section {
    padding: 10px;
    width: 313px;

    .product-content-wrapper {
      padding: 22px 32px;
      border-radius: 6px;
      cursor: pointer;
      height: 100%;

      &:hover {
        background: #f4faff;
      }

      h4 {
        padding-left: 0px;
      }

      h2 {
        margin-bottom: 8px !important;
      }

      p {
        margin-bottom: 30px !important;
      }
    }

    #product-illus {
      width: 155px;
      margin-top: 10px;
      margin-bottom: 25px;
      height: auto;
    }

    .nav-link {
      font-size: 14px;
      line-height: 1.8;
      font-weight: 500;
      color: #0079bd !important;

      .arrow-img {
        display: inline-block;
        min-width: 18px;
        width: 18px;
        margin-bottom: -7px;
      }
    }
  }

  .center-content-section {
    width: 324px;
    padding: 10px;
    border-left: 1px solid #dee6ec;
    border-right: 1px solid #dee6ec;

    h4 {
      padding-top: 22px;
      padding-left: 32px;
    }

    h2 {
      margin-bottom: 0;
    }
  }

  .navDrapdownListWrapper {
    width: auto;
    display: flex;
    justify-content: space-between;

    a {
      &:hover {
        text-decoration: none;
      }
      &:focus {
        outline: none;
        text-decoration: none;
      }
    }

    .content-div {
      width: 324px;
      padding: 10px;

      h4 {
        padding-top: 22px;
        padding-left: 32px;
      }

      .coming-soon-div {
        margin-top: 18px;

        h4 {
          margin-bottom: 0;
        }

        .db-flex {
          display: flex;
          width: 100%;
          padding: 24px 32px;
          justify-content: space-between;

          h2:hover {
            color: #0079bd !important;
          }
        }
      }

      .dropdown-db-link {
        min-height: 48px;
        display: flex;
        align-items: center;

        .db_icon {
          min-width: 18px;
          width: 18px;
          height: 20px;
          margin-right: 11px;
          margin-bottom: -2px;
        }

        .link_img {
          min-width: 12px;
          width: 12px;
          height: 12px;
          margin-left: 8px;
        }
      }
    }

    .db-tile {
      max-width: 250px !important;

      .nav-link {
        color: #0079bd !important;
      }
    }

    .db-tile-four {
      margin-top: 54px;
    }

    .navDataBaseBg {
      background-color: #2771b6;
    }
    .mb-32 {
      margin-bottom: 32px;
    }

    .hasura-ibm-plex-article-desc {
      color: #f5fdff;
      padding-bottom: 16px;
      .arrow {
        transition: all 0.3s ease-in-out;
        margin-left: 6px;
        width: 8px;
        display: inline-block;
        img {
          min-width: 8px;
        }
      }
    }
    .hasura-ibm-plex-mono {
      color: #ffffff;
    }
  }
}

/// Resources Section ************** //

.resources-dropdown {
  .news-div {
    width: 376px;
    padding: 10px;
    // border-left: 1px solid #dee6ec;

    h4 {
      padding: 0;
    }

    .news-section-line-break {
      margin: 10px -10px !important;
      border: 0;
      border-top: 1px solid #dee6ec;
    }

    .navListAnnouncement {
      width: 100%;
      padding: 22px;
      border-radius: 4px;
      transition: all 0.3s ease-in-out;

      .nav-link {
        font-size: 14px;
        line-height: 1.8;
        font-weight: 500;
        color: #0079bd !important;
        margin-top: -5.5px;

        .arrow-img {
          display: inline-block;
          min-width: 18px;
          width: 18px;
          margin-left: -2px;
          margin-bottom: -7px;
        }
      }

      .flex-heading {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      h4 {
        margin-bottom: 16px;
      }

      .mb-24 {
        margin-bottom: 24px !important;
      }

      .zero-m {
        margin-top: 12px !important;
        margin-bottom: 0px !important;
      }

      &:hover {
        background-color: #f3f8fb;
      }
    }
  }
}

@media (max-width: 1049px) {
  .resources-dropdown {
    border-bottom: 1px solid #d5dee5;
    padding-bottom: 20px !important;
    border-radius: 0;

    .news-div {
      display: none;
    }

    .developers-section {
      padding-top: 0;
      padding-bottom: 0;

      h4 {
        padding-top: 15px;
      }

      #m-invisible {
        display: none;
      }
    }
  }

  .navDrapdownWrapper {
    .navDrapdownListWrapper {
      width: 100% !important;
    }

    width: 100% !important;
    flex-direction: column;
    position: static;
    box-shadow: none;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;

    .product-section {
      width: 100%;
      padding: 10px 32px;

      h4 {
        display: none !important;
      }

      .product-content-wrapper {
        padding: 0px;

        .nav-link {
          display: none;
        }
      }
    }

    .center-content-section {
      width: 100% !important;
      border: none;
      padding: 0 !important;

      h4 {
        padding-top: 0 !important;
      }
    }

    .content-div {
      width: 100% !important;
    }

    .coming-soon-div {
      display: none;
    }
  }

  .center-content-section {
    border: none;
    width: 100%;
  }

  .content-div {
    padding: 0 0 32px 0 !important;
    width: 100% !important;
    border-bottom: 1px solid #d5dee5;
  }
}

.mobileNavShow {
  display: block;
}
.mobileNavHide {
  display: none;
}

// @media (max-width: 767px) {
// }
