.hasuraConBannerBg {
	 background-image: url('./images/hasura-con-banner-stripe.png');
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center center;
}
.commonBannerStripWrapperBg {
	background-color: #1B2738;
  background-image: url('./images/banner-stripe-bg-egc.svg');
  background-repeat: no-repeat;
  background-size: cover;
	background-position: right;
}
.containerWidth {
    max-width: 1328px;
    margin: 0 auto;
    padding: 0 15px;
}
.commonBannerStripWrapper {
	 z-index: 100;
	 position: relative;
	 height: 60px;
	 max-height: 60px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 overflow: hidden;
	 transition: max-height 150ms ease-in-out;
}
.commonBannerStripWrapper .articleDesc {
	 flex: 1;
	 text-align: center;
	 color: #F8FCFF;
	 font-size: 20px !important;
	 line-height: 140% !important;
	 padding-bottom: 0px;
	 /* display: flex;
	 align-items: center;
	 justify-content: center; */
   font-weight: 700 !important;
	 font-family: 'Darker Grotesque';
}
.commonBannerStripWrapper .articleDesc .emoji {
	margin-right: 12px;
}
.commonBannerStripWrapper .articleDesc .arrow {
	/* display: flex;
	align-items: center; */
	transition: all .3s ease-in-out;
	margin-left: 6px;
	display: inline-block;
}
.commonBannerStripWrapper .articleDesc:hover .arrow {
	transform: translateX(5px);
}
.commonBannerStripWrapper .closeBanner {
	 cursor: pointer;
}
.commonBannerStripWrapper .closeBanner img {
	 width: 25px;
}
.commonBannerStripWrapper .closeBanner:focus {
	 outline: none;
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (max-width: 767px) {
  .commonBannerStripWrapper {
    max-height: none;
    height: auto;
  }
  .commonBannerStripWrapper .articleDesc{
    text-align: left;
    padding: 15px 0;
		display: block;
  }
}
