@import "./fonts.scss";
.gitHubBtnMobile {
  display: none;
}
.m-top-15 {
  margin-top: 15px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-b-10 {
  margin-bottom: 14px;
}
.positionStickyBanner {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
.hasura-btn {
  @extend .hasura-ibm-plex-btn;
  @extend .hasura-font-600;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  letter-spacing: 0.02em;
  &:focus {
    outline: none;
  }
}
.hasura-btn-md {
  padding: 8px 32px;
  height: 48px;
}
.hasura-btn-sm {
  padding: 8px 24px;
  height: 40px;
  @extend .hasura-ibm-plex-nav-btn;
  .left-icon {
    margin-right: 8px;
    min-width: 16px;
  }
}
.hasura-gray-btn {
  background-color: #404955;
  color: #E1F4FF;
  &:hover {
    background-color: #1B2738;
  }
}
.hasura-light-gray-btn {
  background-color: #F8FCFF;
  color: #00315F;
  &:hover {
    background-color: #fff;
  }
}
.hasura-green-btn {
  background-color: #37A476;
  color: #F4FBFF;
  &:hover {
    background-color: #02864F;
  }
}
.hasura-blue-btn {
  background-color: #0079BD;
  color: #F4FBFF;
  &:hover {
    background-color: #005C8F;
  }
}
.hasura-white-btn {
  background-color: #FFFFFF;
  color: #2771B6;
  &:hover {
    background-color: #f2f2f2;
  }
}
.lightModeHeader, .DarkModeHeader {
  transition: top 0.3s;
  z-index: 100000 !important;
  // position: sticky;
  // top: 0;
  -webkit-backdrop-filter: saturate(100%) blur(10px);
  backdrop-filter: saturate(100%) blur(10px);
  height: 102px;
  padding-top: 30px;
}
.lightModeHeader {
  background: rgba(255, 255, 255, 0.7);
}
.DarkModeHeader {
  background-color: #1B2738;
}
.visibleMobile {
  display: block;
  width: 338px;
  height: calc(100vh - 70px);
  position: absolute;
  overflow: auto;
  right: 0;
  top: 8px;
  transform: translateX(380px);
  transition: transform 0.3s ease-out;
}
.hideMobile {
  display: block;
}

#menuClick {
  width: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#menuClick span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menuClick span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menuClick span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menuClick.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#menuClick.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#menuClick.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}
.navBarToggle {
  border-radius: 4px;
  padding: 0px 0px;
  display: none;
  position: absolute;
  right: 0px;
  top: 32px;
  .iconBar {
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 1px;
    margin: 0 auto;
    margin-top: 4px;
    transition: all .3s ease-in-out;
  }
  .iconBar:first-child {
    margin-top: 0px;
  }
  &:focus {
    outline: none;
  }
}
.dropDownList {
  cursor: pointer;
  .dropDownArrow {
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #f8f8f8;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:hover {
    a {
      .dropDownArrow {
        opacity: 1 !important;
        visibility: visible !important;
      }
    }
    .dropDownContent {
      opacity: 1;
      visibility: visible;
    }
  }
  .dropDownContent {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    // transition: visibility 0s, opacity 0.3s linear;
    transition: all .3s ease-in-out;
  }
}
.lightModeHeader {
  .navBarToggleBg {
    .navBarToggle {
      .iconBar {
        background-color: #00315F;
      }
    }
  }
  .headerWrapper {
    .navBarUL {
      li {
        a {
          color: #00315F !important;
          &:hover {
            color: #0B5599 !important;
          }
        }
      }
      .navListActive {
        a {
          color: #0B5599 !important;
        }
      }
      .navLogIn {
        a {
          color: #1699E2 !important;
        }
      }
    }
  }
}
.DarkModeHeader {
  .navBarToggleBg {
    .navBarToggle {
      .iconBar {
        background-color: #f2f2f2;
      }
    }
    .navBarToggle.open {
      .iconBar {
        background-color: #00315F;
      }
    }
  }
  .headerWrapper {
    .navBarUL {
      li {
        a {
          color: #F2F2F2 !important;
          &:hover {
            color: #1699E2 !important;
          }
        }
      }
      .navListActive {
        a {
          color: #1699E2 !important;
        }
      }
      .navLogIn {
        a {
          color: #F2F2F2 !important;
        }
      }
    }
  }
}
.headerWrapper {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 0 !important;
  z-index: 1;
  .topnav {
    .visibleMobile {
      .navBarULMobile {

      }
    }
  }
  .navBarUL {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0;
    margin: 0 0;
    li {
      display: inline-block;
      @extend .hasura-ibm-plex-nav;
      @extend .hasura-font-600;
      padding: 0 15px;
      min-height: 40px;
      margin: 0 0;
      &:last-child {
        padding-right: 0;
      }
      &:first-child {
        padding-left: 0;
      }
      a {
        position: relative;
        @extend .hasura-ibm-plex-nav;
        @extend .hasura-font-600;
        padding: 0 0 !important;
        &:hover {
          text-decoration: none;
          opacity: 1 !important;
        }
        &:focus {
          outline: none;
          text-decoration: none;
        }
      }
    }
  }
  .m-nav-t {
    margin-top: 21px !important;
  }
  .navCenter {
    flex: 1;
  }
  .navLeft {
    display: flex;
    align-items: center;
    height: 67px;
    .brand {
      a {
        display: flex;
      }
      img {
        width: 116px;
      }
    }
  }
  .navLeftBgColor {
    background-color: #EBF1F6;
  }
  .navRight {
    display: flex;
    align-items: center;
    height: 67px;
  }
}
.containerWidth {
  padding: 0 15px;
  width: 100%;
}
@media (min-width: 1050px) {
  .visibleMobile {
    display: none;
  }
  .containerWidth {
    width: 1045px !important;
    margin: 0 auto;
    padding: 0 0px;
  }
}
@media (min-width: 1388px) {
  .containerWidth {
    width: 1328px !important;
    margin: 0 auto;
    padding: 0 0px;
  }
}

@media (max-width: 1049px) {
  .navBarToggle {
    display: block;
    z-index: 100;
  }
  .lightModeHeader, .DarkModeHeader {
    padding-top: 0px;
    height: 72px;
  }
  .gitHubBtnMobile {
    display: block;
    position: absolute;
    right: 40px;
    top: 28px;
    .hasura-gray-btn {
      padding: 4px 10px;
    }
  }
  .hideMobile {
    display: none !important;
  }
  .headerWrapper {
    position: relative;
    display: block;
    padding-top: 16px;
    .navLeft {
      height: 48px;
    }
    .topnav {
      .visibleMobile {
        background-color: #EBF1F6;
        border-radius: 8px;
        .brand {
          padding-left: 24px;
          padding-top: 23px;
          padding-bottom: 20px;
          border-bottom: 1px solid #D5DEE5;
          background-color: #EBF1F6;
          z-index: 100;
          position: sticky;
          top: 0;
          img {
            width: 116px;
          }
        }
        .mobileNavListWrapper {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 24px;
          border-bottom: 1px solid #D5DEE5;
          padding: 32px 24px;
          padding-top: 32px;
          .hasura-light-gray-btn {
            width: 100%;
            padding: 8px 6px;
          }
        }
        .mobileNavButtonWrapper {
          background: #DFE7EE;
          border-radius: 8px;
          border-top: 1px solid #D5DEE5;
          padding: 24px 32px;
          margin-bottom: 30px;
          .hasura-btn-sm {
            width: 48%;
            display: inline-block;
            padding: 8px 8px;
          }
          .hasura-green-btn {
            margin-right: 4%;
          }
        }
        .menuBarView {
          height: calc(100vh - 123px);
          overflow: auto;
        }
      }
    }
  }
  .navBarToggle {
    display: block !important;
  }
  .topnav.responsive .visibleMobile {
    transform: translateX(16px);
  }
  .navBarUL {
    display: none;
  }
}
@media (max-width: 355px) {
  .gitHubBtnMobile {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .headerWrapper {
    .navLeft {
      z-index: 100;
      .brand {
        margin-right: 12px !important;
      }
    }
  }
  .topnav.responsive .visibleMobile {
    transform: translateX(0);
  }
}
@media(max-width: 500px) {
  .headerWrapper {
    .topnav {
      .visibleMobile {
        width: calc(100vw - 16px);
        left: 50%;
        margin-left: calc(-50vw + 8px);
      }
    }
  }
  .visibleMobile {
    transform: translateX(500px);
  }
  .topnav.responsive .visibleMobile {
    transform: translateX(0);
  }
}
