/* Colors */
$hDarkBlueColor: #0b5599;
$hBlueColor: #00315f;
$hMediumBlueColor: #2771b6;
$hLightBlueColor: #f4fbff;
$hLightLinkCTAColor: #0079bd;
$hDarkLinkCTAColor: #1699e2;
$hlightBlueClor: #e3f2ff;
$hGrayColor: #404955;
$hWhiteColor: #ffffff;
$hlightBlueBgColor: #ebf1f6;
