/* Colors */
$hDarkBlueColor: #0B5599;
$hBlueColor: #00315F;
$hMediumBlueColor: #2771B6;
$hLightBlueColor: #F4FBFF;
$hLightLinkCTAColor: #0079BD;
$hDarkLinkCTAColor: #1699E2;
$hlightBlueClor: #E3F2FF;
$hGrayColor: #404955;
$hWhiteColor: #ffffff;
$hlightBlueBgColor: #EBF1F6;
