.marketoFormWrapper {
  width: 100% !important;
  max-width: 550px;
  border-radius: 8px;
  margin: 0 auto;
  position: relative;
  .mktoFormRow {
    .mktoFieldDescriptor {
      float: none;
      min-height: unset !important;
      margin-bottom: 16px !important;
      .mktoOffset {
        display: none;
      }
      .mktoFieldWrap {
        float: none;
        .mktoGutter {
          display: none;
        }
        .mktoLabel {
          display: none;
          font-size: 16px;
          line-height: 220%;
          font-weight: 400;
          color: #717780;
          font-weight: 400;
          float: none;
          width: 100% !important;
        }
        .mktoField {
          width: 100% !important;
          height: 36px;
          border-radius: 3px;
          color: #717780;
          background-color: #f8f8f8 !important;
          font-weight: 400;
          border: solid 1px #dddddd;
          padding: 0 0 !important;
          text-indent: 12px;
          font-size: 14px;
          background-color: transparent;
          z-index: 1;
        }
        .mktoCheckboxList, .mktoRadioList {
          width: 100% !important;
          padding: 0 !important;
          input[type='checkbox'], input[type='radio'] {
            position: absolute; // take it out of document flow
            opacity: 0; // hide it
            & + label:before {
              border: 2px solid #E4E4E4;
            }
            & + label {
              position: relative;
              cursor: pointer;
              margin: 16px 0px;
              display: flex;
              align-items: center;
              color: #717780;
              font-size: 14px;
              font-family: 'Roboto';
              font-weight: 400;
              z-index: 1;
              &:first-child {
                margin-top: 0;
              }
            }
            // Box.
            & + label:before {
              content: '';
              display: inline-block;
              vertical-align: text-top;
              width: 20px;
              height: 20px;
              background: transparent;
              border-radius: 4px;
              margin-right: 16px;
            }

            // Disabled state label.
            &:disabled + label {
              color: #b8b8b8;
              cursor: auto;
            }

            // Disabled box.
            &:disabled + label:before {
              box-shadow: none;
              background: #ddd;
            }
            // Box hover
            &:hover + label:before {
              // border: 2px solid #2EB67D;
            }
            // Box checked
            &:checked + label:before {
              // background: #5C94C8;
              // border: 2px solid #5C94C8;
            }
            &:checked + .checkBoxLabel {
              color: #5C94C8;
            }
            // Checkmark. Could be replaced with an image
            &:checked + label:after {
              content: '';
              position: absolute;
              left: 7px;
              top: 4px;
              width: 6px;
              height: 10px;
              border: solid #2EB67D;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
          input[type='radio'] {
            & + label:before {
              border: 2px solid #E4E4E4;
              border-radius: 50%;
            }
            &:checked + label:after {
              content: '';
              left: 5px;
              top: 5px;
              width: 10px;
              height: 10px;
              background-color: #2EB67D;
              border-radius: 50%;
            }
          }
        }
        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-position-y: 18px;
          background-position-x: calc(100% - 15px);
          background-image: url('./images/dropdown-arrow.svg');
          background-repeat: no-repeat;
        }
        #message {
          padding-top: 5px !important;
          padding-left: 12px !important;
          text-indent: 0;
          height: auto !important;
        }
        .mktoField:hover, textarea:hover, select:hover {
          border: 1px solid #111b29;
        }
        .mktoField:focus, textarea:focus, select:focus {
          outline: none;
          border: 1px solid #0093a5;
        }
        .mktoField:-webkit-autofill {
          -webkit-animation-name: autofill;
          -webkit-animation-fill-mode: both;
          -webkit-box-shadow: 0 0 0px 1000px white inset;
          background-color: transparent;
          font-size: 16px;
        }
        .mktoField:-webkit-autofill,
        .mktoField:-webkit-autofill:hover,
        .mktoField:-webkit-autofill:focus,
        .mktoField:-webkit-autofill:active  {
          -webkit-box-shadow: 0 0 0 35px #fff inset !important;
          -webkit-text-fill-color: #505050 !important;
          font-size: 16px;
          caret-color: #505050;
          color: #fff !important;
        }

        .mktoField:-internal-autofill-selected {
          color: #505050 !important;
          font-size: 16px;
        }
      }
    }
  }
  .mktoButtonRow {
    display: block;
    .mktoButtonWrap {
      margin-left: 0 !important;
      .mktoButton {
        padding: 2px 50px !important;
        font-size: 14px !important;
        border-radius: 5px;
        font-weight: 600;
        width: 100%;
        cursor: pointer;
        transition: all .2s ease-in-out;
        background-color: rgba(30,180,212,.8) !important;
        background-image: none !important;
        color: #fff !important;
        transition: all .2s ease-in-out;
        border: 0 !important;
        height: 36px;
        &:hover {
          background-color: rgba(30,180,212, 1) !important;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}
.webinarMarAuto {
  margin: 0 0;
  margin-left: auto;
  max-width: 500px;
}
.subscribeNewsletterForm {
  max-width: none;
  border-radius: 0;
  margin: inherit;
  background-color: transparent;
  padding: 0;
  position: relative;
  box-shadow: none;
  display: flex;
  position: relative;
  height: 48px;
  .mktoFormRow {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 216px);
    .mktoFieldDescriptor {
      .mktoFieldWrap {
        .mktoField {
          background-color: #fff;
          height: 62px;
        }
        .mktoField:hover {
          border: solid 1px #eee;
        }
      }
    }
  }
  .mktoButtonRow {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    .mktoButtonWrap {
      .mktoButton {
        background-color: rgba(27,39,56,.8) !important;
        color: #fff !important;
        height: 62px;
        border: 0;
        &:hover {
          background-color: rgba(27,39,56,1) !important;
          border: 0;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .marketoFormWrapper {
    padding: 0 !important;
    margin-top: 0 !important;
  }
  .subscribeNewsletterForm {
    display: block;
    height: auto;
    padding: 0px !important;
    .mktoFormRow {
      width: 100%;
    }
    .mktoFormRow, .mktoButtonRow {
      position: static;
    }
  }
}
@media (max-width: 1059px) {
  .marketoFormWrapper {
    padding: 0;
    max-width: none;
  }
}
